<section id="search" class="search-wrap">
    <h1>FIND SENIOR DATA</h1>
    <form action="/insert/search" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="630xxxxx, 620xxxxx etc...">
      <input type="submit" value="Search">
    </form>
</section>